body{
    font-family: Arial;
    background:#2196f3;
    text-align:center;
    padding-top:80px;
}

.container{
    background:white;
    width:300px;
    margin:auto;
    padding:20px;
    border-radius:10px;
}

input{
    padding:8px;
    width:80%;
}

button{
    padding:8px;
    margin-top:10px;
}

#result{
    margin-top:15px;
}
